/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Outfit&display=swap");
@import "primeicons/primeicons.css";

* {
  padding: 0;
  font-family: "Hammersmith One", sans-serif;
  margin: 0;
}
